services:
  web:
    build: .
    container_name: web
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgres://user:password@db:5432/numberdb
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: async-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: numberdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

